@import 'colors';
.list-item {
  border-bottom: 1px solid $peach;
  &:last-child {
    border-bottom: unset;
  }
  .input-container {
    display: flex;
    padding: 1rem;
  }
  span {
    flex-grow: 2;
  }
  button { 
    border: 0;
    width: 1rem;
    height: 1rem;
    padding: 0;
    background-size: cover;
    opacity: 0.5;
    transition: 0.2s;
    font-size: 1.25rem;
    line-height: 0;
    &:last-child {
      margin-left: 0.5rem;
    }
    &.light {
      color: white;
      &:first-of-type {
        background-image: url('../assets/edit-white.png');
      }
    }
    &.dark {
      color: black;
      &:first-of-type {
        background-image: url('../assets/edit-black.png');
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}