.list-item {
  border-bottom: 1px solid #F3A183; }
  .list-item:first-child {
    border-top: 1px solid #F3A183; }
  .list-item .input-container {
    display: flex;
    padding: 1rem; }
  .list-item span {
    flex-grow: 2; }
  .list-item button {
    border: 0;
    width: 1rem;
    height: 1rem;
    padding: 0;
    background-size: cover;
    opacity: 0.5;
    transition: 0.2s;
    font-size: 1.25rem;
    line-height: 0; }
    .list-item button:last-child {
      margin-left: 0.5rem; }
    .list-item button.light {
      color: white; }
      .list-item button.light:first-of-type {
        background-image: url("../assets/edit-white.png"); }
    .list-item button.dark {
      color: black; }
      .list-item button.dark:first-of-type {
        background-image: url("../assets/edit-black.png"); }
    .list-item button:hover {
      opacity: 1; }
